<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="http://azgaarnoth.tedneward.com/Creatures/Templates/HalfDragon/">
        <link rel="shortcut icon" href="../../../img/favicon.ico">
        <title>Half-Dragon Template - Azgaarnoth</title>
        <link href="../../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../../..">Azgaarnoth</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">World <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../Geography" class="dropdown-item">Geography</a>
</li>
                                    
<li>
    <a href="../../../Religions" class="dropdown-item">Religions</a>
</li>
                                    
<li>
    <a href="../../../Nations" class="dropdown-item">Nations</a>
</li>
                                    
<li>
    <a href="../../../Cities" class="dropdown-item">Cities</a>
</li>
                                    
<li>
    <a href="../../../Cultures" class="dropdown-item">Cultures</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Organizations</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../Organizations" class="dropdown-item">Overview</a>
</li>
            
<li>
    <a href="../../../Organizations/BardicColleges" class="dropdown-item">Bardic Colleges</a>
</li>
            
<li>
    <a href="../../../Organizations/DuelingColleges" class="dropdown-item">Dueling Colleges</a>
</li>
            
<li>
    <a href="../../../Organizations/Houses" class="dropdown-item">Great Houses</a>
</li>
            
<li>
    <a href="../../../Organizations/MageSchools" class="dropdown-item">Mage Schools</a>
</li>
            
<li>
    <a href="../../../Organizations/MerchantGuilds" class="dropdown-item">Merchant Guilds</a>
</li>
            
<li>
    <a href="../../../Organizations/MilitantOrders" class="dropdown-item">Militant Orders</a>
</li>
            
<li>
    <a href="../../../Organizations/MonasticOrders" class="dropdown-item">Monastic Orders</a>
</li>
            
<li>
    <a href="../../../Organizations/RoguesGuilds" class="dropdown-item">Rogues' Guilds</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">History</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../History/Ancient/" class="dropdown-item">Ancient</a>
</li>
            
<li>
    <a href="../../../History/Modern/" class="dropdown-item">Modern</a>
</li>
            
<li>
    <a href="../../../History/Timeline/" class="dropdown-item">Timeline</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">System <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../Cultures/Backgrounds/index.md" class="dropdown-item">Backgrounds</a>
</li>
                                    
<li>
    <a href="../../../Races/" class="dropdown-item">Races</a>
</li>
                                    
<li>
    <a href="../../../Classes/" class="dropdown-item">Classes</a>
</li>
                                    
<li>
    <a href="../../../Conditions/index.md" class="dropdown-item">Conditions</a>
</li>
                                    
<li>
    <a href="../../../Equipment/index.md" class="dropdown-item">Equipment</a>
</li>
                                    
<li>
    <a href="../../../Feats/" class="dropdown-item">Feats</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Magic</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../Magic/Items" class="dropdown-item">Items</a>
</li>
            
<li>
    <a href="../../../Magic/Spells" class="dropdown-item">Spells</a>
</li>
            
<li>
    <a href="../../../Magic/Tattoos" class="dropdown-item">Tattoos</a>
</li>
            
<li>
    <a href="../../../Magic/UndeadGrafts" class="dropdown-item">Undead Grafts</a>
</li>
            
<li>
    <a href="../../../Magic/Wild" class="dropdown-item">Wild</a>
</li>
    </ul>
  </li>
                                    
<li>
    <a href="../.." class="dropdown-item">Creatures</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../about/" class="dropdown-item">... this site</a>
</li>
                                    
<li>
    <a href="../../../GameNotes/" class="dropdown-item">... my games</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#half-dragon-template" class="nav-link">Half-Dragon Template</a>
              <ul class="nav flex-column">
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="half-dragon-template">Half-Dragon Template</h1>
<p>A beast, humanoid, giant, or monstrosity can become a half-dragon. </p>
<p><strong><em>Transformation.</em></strong> When a creature becomes a half-dragon, it retains all its statistics except as noted below.</p>
<p>First, the draconic parentage of the half-dragon must be determined:</p>
<table>
<thead>
<tr>
<th>Type</th>
<th>Energy</th>
<th>Area</th>
</tr>
</thead>
<tbody>
<tr>
<td>Black, Copper</td>
<td>Acid</td>
<td>100-foot line that is 10 feet wide</td>
</tr>
<tr>
<td>Blue, Bronze</td>
<td>Lightning</td>
<td>100-foot line that is 10 feet wide</td>
</tr>
<tr>
<td>Brass,Gold,Red</td>
<td>Fire</td>
<td>100-foot line that is 10 feet wide</td>
</tr>
<tr>
<td>Green</td>
<td>Poison</td>
<td>100-foot line that is 10 feet wide</td>
</tr>
<tr>
<td>White, Silver</td>
<td>Cold</td>
<td>100-foot line that is 10 feet wide</td>
</tr>
</tbody>
</table>
<ul>
<li>
<p><strong>Challenge.</strong> To avoid recalculating the creature's challenge rating, apply the template only to a creature that meets the optional prerequisite in the Breath Weapon table below. Otherwise, use the guidelines in the Dungeon Master's Guide to recalculate the rating after you apply the template.</p>
</li>
<li>
<p><strong>Senses.</strong> The half-dragon gains blindsight with a radius of 10 feet and darkvision with a radius of 60 feet.</p>
</li>
<li>
<p><strong>Resistances.</strong> The half-dragon gains resistance to a type of damage based on its color.</p>
</li>
<li>
<p><strong>Languages.</strong> The half-dragon speaks Draconic in addition to any other languages it knows.</p>
</li>
<li>
<p>Add new action; the half-dragon's size and color determines how this action functions:</p>
<ul>
<li>Black,Copper/Large or smaller: <strong><em>Acid Breath (Recharge 5-6).</em></strong> The half-dragon exhales acid in a 15-foot line that is 5 feet wide. Each creature in that line must make a DC 11 Dexterity saving throw, taking 22 (5d8) acid damage on a failed save, or half as much damage on a successful one.</li>
<li>Black,Copper/Huge: <strong><em>Acid Breath (Recharge 5-6).</em></strong> The half-dragon exhales acid in a 25-foot line that is 5 feet wide. Each creature in that line must make a DC 13 Dexterity saving throw, taking 40 (9d8) acid damage on a failed save, or half as much damage on a successful one.</li>
<li>Black,Copper/Gargantuan: <strong><em>Acid Breath (Recharge 5-6).</em></strong> The half-dragon exhales acid in a 50-foot line that is 5 feet wide. Each creature in that line must make a DC 16 Dexterity saving throw, taking 54 (12d8) acid damage on a failed save, or half as much damage on a successful one.</li>
<li>Blue,Bronze/Large or smaller: <strong><em>Lightning Breath (Recharge 5-6).</em></strong> The half-dragon exhales lightning in a 30-foot line that is 5 feet wide. Each creature in that line must make a DC 12 Dexterity saving throw, taking 22 (4d10) lightning damage on a failed save, or half as much damage on a successful one.</li>
<li>Blue,Bronze/Huge: <strong><em>Lightning Breath (Recharge 5-6).</em></strong> The half-dragon exhales lightning in a 50-foot line that is 5 feet wide. Each creature in that line must make a DC 15 Dexterity saving throw, taking 44 (8d10) lightning damage on a failed save, or half as much damage on a successful one.</li>
<li>Blue,Bronze/Gargantuan: <strong><em>Lightning Breath (Recharge 5-6).</em></strong> The half-dragon exhales lightning in a 90-foot line that is 5 feet wide. Each creature in that line must make a DC 19 Dexterity saving throw, taking 66 (12d10) lightning damage on a failed save, or half as much damage on a successful one.</li>
<li>Brass,Gold,Red/Large or smaller:</li>
<li>Brass,Gold,Red/Huge:</li>
<li>Brass,Gold,Red/Gargantuan:</li>
<li>Green/Large or smaller: <strong><em>Poison Breath (Recharge 5-6).</em></strong> The half-dragon exhales poisonous gas in a 15-foot cone. Each creature in that area must make a DC 11 Constitution saving throw, taking 21 (6d6) poison damage on a failed save, or half as much damage on a successful one.</li>
<li>Green/Huge: <strong><em>Poison Breath (Recharge 5-6).</em></strong> The half-dragon exhales poisonous gas in a 25-foot cone. Each creature in that area must make a DC 14 Constitution saving throw, taking 35 (10d6) poison damage on a failed save, or half as much damage on a successful one.</li>
<li>Green/Gargantuan: <strong><em>Poison Breath (Recharge 5-6).</em></strong> The half-dragon exhales poisonous gas in a 60-foot cone. Each creature in that area must make a DC 18 Constitution saving throw, taking 56 (16d6) poison damage on a failed save, or half as much damage on a successful one.</li>
<li>White,Silver/Large or smaller:</li>
<li>White,Silver/Huge:</li>
<li>White,Silver/Gargantuan:</li>
</ul>
</li>
</ul>
<table>
<thead>
<tr>
<th>Size</th>
<th>Breath Weapon</th>
</tr>
</thead>
<tbody>
<tr>
<td>Large or smaller</td>
<td>As a wyrmling</td>
</tr>
<tr>
<td>Huge</td>
<td>As a young dragon</td>
</tr>
<tr>
<td>Gargantuan</td>
<td>As an adult dragon</td>
</tr>
</tbody>
</table>
<hr />
<h3 id="example-half-reddragon-veteran">Example: Half-RedDragon Veteran</h3>
<blockquote>
<h3 id="half-red-dragon-veteran">Half-Red Dragon Veteran</h3>
<p><em>Medium humanoid, any alignment</em></p>
<hr />
<ul>
<li><strong>Armor Class</strong> 18 (plate)</li>
<li><strong>Hit Points</strong> 65 (10d8 + 20)</li>
<li><strong>Speed</strong> 30 ft.</li>
</ul>
<hr />
<table>
<thead>
<tr>
<th style="text-align: center;"><strong>STR</strong></th>
<th style="text-align: center;"><strong>DEX</strong></th>
<th style="text-align: center;"><strong>CON</strong></th>
<th style="text-align: center;"><strong>INT</strong></th>
<th style="text-align: center;"><strong>WIS</strong></th>
<th style="text-align: center;"><strong>CHA</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">16 (+3)</td>
<td style="text-align: center;">13 (+1)</td>
<td style="text-align: center;">14 (+2)</td>
<td style="text-align: center;">10 (+0)</td>
<td style="text-align: center;">11 (+0)</td>
<td style="text-align: center;">10 (+0)</td>
</tr>
<tr>
<td style="text-align: center;">___</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Proficiency Bonus</strong> +3</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Saving Throws</strong></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Damage Vulnerabilities</strong></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Damage Resistances</strong> fire</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Damage Immunities</strong></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Condition Immunities</strong></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Skills</strong> Athletics +5,Perception +2</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Senses</strong> blindsight 10 ft.,darkvision 60 ft.,passive Perception 12</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Languages</strong> Common,Draconic</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">- <strong>Challenge</strong> 5</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;">___</td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
</tbody>
</table>
<h4 id="actions">Actions</h4>
<p><strong><em>Multiattack.</em></strong> The veteran makes two longsword attacks. If it has a shortsword drawn, it can also make a shortsword attack.</p>
<p><strong><em>Longsword.</em></strong> Melee Weapon Attack: +5 to hit, reach 5 ft., one target. Hit: 7 (1d8 + 3) slashing damage, or 8 (1d10 + 3) slashing damage if used with two hands.</p>
<p><strong><em>Shortsword.</em></strong> Melee Weapon Attack: +5 to hit, reach 5 ft., one target. Hit: 6 (1d6 + 3) piercing damage.</p>
<p><strong><em>Heavy Crossbow.</em></strong> Ranged Weapon Attack: +3 to hit, range 100/400 ft., one target. Hit: 6 (1d10 + 1) piercing damage.</p>
<p><strong><em>Fire Breath (Recharge 5–6).</em></strong> The veteran exhales fire in a 15-foot cone. Each creature in that area must make a DC 15 Dexterity saving throw, taking 24 (7d6) fire damage on a failed save, or half as much damage on a successful one.
</p>
</blockquote></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../../js/jquery-3.6.0.min.js"></script>
        <script src="../../../js/bootstrap.min.js"></script>
        <script>
            var base_url = "../../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../../js/base.js"></script>
        <script src="../../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
