<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="http://azgaarnoth.tedneward.com/Creatures/Templates/Martial/">
        <link rel="shortcut icon" href="../../../img/favicon.ico">
        <title>Templates: Martial - Azgaarnoth</title>
        <link href="../../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../../..">Azgaarnoth</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">World <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../Geography" class="dropdown-item">Geography</a>
</li>
                                    
<li>
    <a href="../../../Religions" class="dropdown-item">Religions</a>
</li>
                                    
<li>
    <a href="../../../Nations" class="dropdown-item">Nations</a>
</li>
                                    
<li>
    <a href="../../../Cities" class="dropdown-item">Cities</a>
</li>
                                    
<li>
    <a href="../../../Cultures" class="dropdown-item">Cultures</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Organizations</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../Organizations" class="dropdown-item">Overview</a>
</li>
            
<li>
    <a href="../../../Organizations/BardicColleges" class="dropdown-item">Bardic Colleges</a>
</li>
            
<li>
    <a href="../../../Organizations/DuelingColleges" class="dropdown-item">Dueling Colleges</a>
</li>
            
<li>
    <a href="../../../Organizations/Houses" class="dropdown-item">Great Houses</a>
</li>
            
<li>
    <a href="../../../Organizations/MageSchools" class="dropdown-item">Mage Schools</a>
</li>
            
<li>
    <a href="../../../Organizations/MerchantGuilds" class="dropdown-item">Merchant Guilds</a>
</li>
            
<li>
    <a href="../../../Organizations/MilitantOrders" class="dropdown-item">Militant Orders</a>
</li>
            
<li>
    <a href="../../../Organizations/MonasticOrders" class="dropdown-item">Monastic Orders</a>
</li>
            
<li>
    <a href="../../../Organizations/RoguesGuilds" class="dropdown-item">Rogues' Guilds</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">History</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../History/Ancient/" class="dropdown-item">Ancient</a>
</li>
            
<li>
    <a href="../../../History/Modern/" class="dropdown-item">Modern</a>
</li>
            
<li>
    <a href="../../../History/Timeline/" class="dropdown-item">Timeline</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">System <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../Cultures/Backgrounds/index.md" class="dropdown-item">Backgrounds</a>
</li>
                                    
<li>
    <a href="../../../Races/" class="dropdown-item">Races</a>
</li>
                                    
<li>
    <a href="../../../Classes/" class="dropdown-item">Classes</a>
</li>
                                    
<li>
    <a href="../../../Conditions/index.md" class="dropdown-item">Conditions</a>
</li>
                                    
<li>
    <a href="../../../Equipment/index.md" class="dropdown-item">Equipment</a>
</li>
                                    
<li>
    <a href="../../../Feats/" class="dropdown-item">Feats</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Magic</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../Magic/Items" class="dropdown-item">Items</a>
</li>
            
<li>
    <a href="../../../Magic/Spells" class="dropdown-item">Spells</a>
</li>
            
<li>
    <a href="../../../Magic/Tattoos" class="dropdown-item">Tattoos</a>
</li>
            
<li>
    <a href="../../../Magic/UndeadGrafts" class="dropdown-item">Undead Grafts</a>
</li>
            
<li>
    <a href="../../../Magic/Wild" class="dropdown-item">Wild</a>
</li>
    </ul>
  </li>
                                    
<li>
    <a href="../.." class="dropdown-item">Creatures</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../about/" class="dropdown-item">... this site</a>
</li>
                                    
<li>
    <a href="../../../GameNotes/" class="dropdown-item">... my games</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#templates-martial" class="nav-link">Templates: Martial</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-level="2"><a href="#soldier" class="nav-link">Soldier</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#veteran" class="nav-link">Veteran</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#sargeant" class="nav-link">Sargeant</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#berserker" class="nav-link">Berserker</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#knight" class="nav-link">Knight</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#elite-warrior" class="nav-link">Elite Warrior</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="templates-martial">Templates: Martial</h1>
<p>Certain creatures within a civilization are given special training and take on responsibilities for defense and/or enactment of the civilization's desires. These martial creatures are generally stronger, better trained, and well-equipped for the role.</p>
<hr />
<h2 id="soldier">Soldier</h2>
<p>Soldiers are commoners that take up arms for pay or to protect something they believe in or value.</p>
<p><strong><em>Transformation.</em></strong> A soldier retains all their previous characteristics.</p>
<ul>
<li>
<p>Add 1 to 4 more Hit Dice to the base creature, depending on how long the creature has been a soldier.</p>
</li>
<li>
<p>Add the trait</p>
<blockquote>
<p><strong><em>Military Training.</em></strong> The soldier has advantage on an attack roll against a creature if at least one of the soldier's allies is within 5 feet of the creature and the ally isn't incapacitated.
</p>
</blockquote>
</li>
<li>
<p>If only 1 or 2 Hit Dice were added, add the trait</p>
<blockquote>
<p><strong><em>Fear when alone.</em></strong> The soldier is highly succeptible to morale and mind effects when left alone. If no ally is in sight, or if all allies are further than 60ft away the solider has disvantage on WIS, INT and CHA saving throws.
</p>
</blockquote>
</li>
</ul>
<hr />
<h2 id="veteran">Veteran</h2>
<p>Veterans are professional fighters that take up arms for pay or to protect something they believe in or value. Their ranks include soldiers retired from long service and warriors who never served anyone but themselves.</p>
<p><strong><em>Transformation.</em></strong> A veteran retains all their previous characteristics.</p>
<ul>
<li>
<p>Add 5 to 8 more Hit Dice to the base creature, depending on how long the creature has been a soldier.</p>
</li>
<li>
<p>Add the trait</p>
<blockquote>
<p><strong><em>Military Training.</em></strong> The soldier has advantage on an attack roll against a creature if at least one of the soldier's allies is within 5 feet of the creature and the ally isn't incapacitated.
</p>
</blockquote>
</li>
<li>
<p>Add the Reaction</p>
<blockquote>
<p><strong><em>Parry.</em></strong> The veteran adds their Proficiency Bonus to its AC against one melee attack that would hit it. To do so, the veteran must see the attacker and be wielding a melee weapon.
</p>
</blockquote>
</li>
</ul>
<hr />
<h2 id="sargeant">Sargeant</h2>
<p>Sargeants are commanders of the smallest units of military organization. They are typically seasoned fighters in their own right, but also know how to command and protect the troops within their unit.</p>
<p><strong><em>Transformation.</em></strong> A sargeant retains all their previous characteristics.</p>
<ul>
<li>
<p>Add 5 to 8 more Hit Dice to the base creature, depending on how long the creature has been a soldier.</p>
</li>
<li>
<p>Add the trait "<strong><em>Military Training.</em></strong> The sargeant has advantage on an attack roll against a creature if at least one of the soldier's allies is within 5 feet of the creature and the ally isn't incapacitated."</p>
</li>
<li>
<p>Add the Reaction "<strong><em>Parry.</em></strong> The sargeant adds their Proficiency Bonus to its AC against one melee attack that would hit it. To do so, the sargeant must see the attacker and be wielding a melee weapon."</p>
</li>
<li>
<p>If the creature already has the action Multiattack, add another attack to the Multiattack and add the text "The sargeant can use its Battle Command action in place of one of its attacks." If the creature does not have Multiattack, add the action <strong><em>Multiattack.</em></strong> The sargeant can make two attacks. The sargeant can use its Battle Command action in place of one of its attacks."</p>
</li>
<li>
<p>Add the bonus action "<strong><em>Battle Command.</em></strong> Choose one creature within 30 feet of the sargeant that the sargeant can see. If the chosen creature can see or hear the sargeant, that creature can use its reaction to make one melee attack or to take the Dodge or Hide action."</p>
</li>
</ul>
<hr />
<h2 id="berserker">Berserker</h2>
<p>Certain creatures go into a frenzy when they enter combat.</p>
<p><strong><em>Transformation.</em></strong> The creature retains all of its previous characteristics.</p>
<ul>
<li>
<p>Add 2 - 5 more hit dice to standard creature</p>
</li>
<li>
<p>Add trait: "<strong><em>Reckless.</em></strong> At the start of its turn, the berserker can gain advantage on all melee weapon attack rolls during that turn, but attack rolls against it have advantage until the start of its next turn."</p>
</li>
<li>
<p>If 3 - 5 hit dice were added and the creature does not already have it, add action "<strong><em>Multiattack.</em></strong> The berserker can make two attacks." If 3 - 5 hit dice were added and the creature does already have Multiattack, add one more attack.</p>
</li>
</ul>
<hr />
<h2 id="knight">Knight</h2>
<p>Knights are warriors who pledge service to rulers, religious orders, and noble causes. A knight's alignment (and the general alignment of the pledge itself) determines the extent to which a pledge is honored. Whether undertaking a quest or patrolling a realm, a knight often travels with an entourage that includes squires and hirelings who are commoners, and is typically outfitted with the best equipment the ruler, religious order, or noble cause can buy.</p>
<p><strong><em>Transformation.</em></strong> The creature retains all of its previous characteristics.</p>
<ul>
<li>
<p>Add 3 to 6 more Hit Dice to the base creature.</p>
</li>
<li>
<p>Add the trait "<strong><em>Pack Tactics.</em></strong> The knight has advantage on an attack roll against a creature if at least one of the knight's allies is within 5 feet of the creature and the ally isn't incapacitated."</p>
</li>
<li>
<p>Add the trait "<strong><em>Strength in numbers.</em></strong> The knight has advantage on attack rolls against an enemy if at least one of the knight's allies is within 5 feet of the enemy and the ally isn't incapacitated."</p>
</li>
<li>
<p>Add the Reaction "<strong><em>Parry.</em></strong> The knight adds their Proficiency Bonus to its AC against one melee attack that would hit it. To do so, the knight must see the attacker and be wielding a melee weapon."</p>
</li>
<li>
<p>If 5 Hit Dice were added, add "<strong><em>Leadership (Recharges after a Short or Long Rest).</em></strong> For 1 minute, the knight can utter a special command or warning whenever a nonhostile creature that it can see within 30 feet of it makes an attack roll or a saving throw. The creature can add a d4 to its roll provided it can hear and understand the creature. A creature can benefit from only one Leadership die at a time. This effect ends if the creature is incapacitated."</p>
</li>
</ul>
<hr />
<h2 id="elite-warrior">Elite Warrior</h2>
<p>When a creatures becomes an elite warrior, it retains its statistics except as described below. The elite warrior may gain or lose abilities or equipment per the DM's discretion.</p>
<ul>
<li><strong>Armor Class.</strong> The creature gains up to a +3 bonus to its Armor Class. This could be through gaining new armor or a shield, or their natural armor is stronger than before.</li>
<li><strong>Hit Points.</strong> If the creature has 2 hit dice or less, triple the number of hit dice. If they have between 3 to 6, double the number of hit dice, and if they have 7 hit dice or more, multiply the number by 1.25.</li>
<li><strong>Ability Scores.</strong> The creature gains a +4, +3, and +2 bonus to their physical abilities (Strength, Dexterity, and Constitution), and a +2 and +1 bonus to their mental abilities (Intelligence, Wisdom, and Charisma). A DM determines where each bonus goes, and no ability can receive more than one bonus.</li>
<li><strong>Saving Throws and Skills.</strong> The creature gains either 2 saving throws and 1 skill, or 1 saving throw and 2 skills. If they already have saving throws or skills, this counts against the number they gain.</li>
<li><strong>Challenge Rating.</strong> A creature's Challenge Rating is increased by 2 with a minimum Challenge Rating of 1. If a creature's CR is or increases above 10, increase it by 3.</li>
<li>
<p><strong>Add New Traits.</strong> Depending on the creature's new CR, they gain new traits per the Traits chart below.</p>
<ul>
<li><strong>Multiattack.</strong> If the creature doesn't have multiattack, it now makes two attacks. If it already has multiattack, it makes an additional attack. If it has Spellcasting or Innate Spellcasting, it can use its Spellcasting as one of its attacks.</li>
<li>CR 1 - 4: No additional traits.</li>
<li>CR 5+: Add <strong><em>Indomitable (1/Day).</em></strong> The creature rerolls a failed saving throw.</li>
<li>CR 10+: <ul>
<li>Add <strong><em>Indomitable (2/Day).</em></strong> The creature rerolls a failed saving throw.</li>
<li>Add <strong><em>Parry (Reaction).</em></strong> The creatures adds their Proficiency Bonus to its AC against one melee attack that would hit it. To do so, the creature must see the attacker and be wielding a melee weapon.</li>
</ul>
</li>
<li>CR 15+:<ul>
<li>Add <strong><em>Indomitable (3/Day).</em></strong> The creature rerolls a failed saving throw.</li>
<li>Add Legendary Action section with the following text: "Creature can take 3 legendary actions, choosing from the options below. Only one legendary action option can be used at a time and only at the end of another creature's turn. The creature regains spent legendary actions at the start of its turn."</li>
<li>Add Legendary Action <strong><em>Weapon Attack.</em></strong> The creature makes a weapon attack.</li>
<li>If the creature has Spellcasting or Innate Spellcasting, add Legendary Action <strong><em>Spellcasting.</em></strong> The creature uses its Spellcasting action.</li>
</ul>
</li>
</ul>
</li>
</ul>
<p><strong><em>Variant Abilities.</em></strong> Some creatures would be better if their mental stats had a major increase instead of their physical stats. The DM can determine if the bonuses provided in the Ability Scores should be swapped.</p>
<hr />
<pre><code>Goblin Elite Warrior
Small humanoid (goblinoid), neutral evil
Armor Class 18 (studded leather, shield)
Hit Points 27 (6d6 + 6)
Speed 30 ft.
STR DEX CON INT WIS CHA
10 (+0) 18 (+4) 12 (+1) 10 (+0) 10 (+0) 9 (-1)
Saving Throws Dex +6
Skills Stealth +8, Perception +2
Senses darkvision 60 ft., passive Perception 12
Languages Common, Goblin
Challenge 2 (450 XP)
Nimble Escape. The goblin can take the Disengage or Hide action as a bonus action on each of its turns. 
Actions
Multiattack. The goblin makes two attacks.
Shortsword. Melee Weapon Attack: +6 to hit, reach 5ft., one target. Hit: 7 (1d6 + 4) piercing damage.
Shortbow. Ranged Weapon Attack: +6 to hit, range 80/320 ft., one target. Hit: 7 (1d6 + 4) piercing
Reactions
Parry. The goblin adds 4 to its AC against one melee attack that would hit it. To do so, the goblin must see the attacker and be wielding a melee weapon.
</code></pre>
<pre><code>Fire Giant Elite Warrior
Huge giant, lawful evil
Armor Class 19 (+1 plate)
Hit Points 188 (13d12 + 104)
Speed 30 ft.
STR DEX CON INT WIS CHA
28 (+9) 13 (+1) 27 (+8) 10 (+0) 15 (+2) 15 (+2)
Saving Throws Dex +5, Con +12, Cha +6
Skills Athletics +13, Perception +6
Damage Immunities Fire
Senses passive Perception 16
Languages Giant
Challenge 12 (8,400 XP)
Indomitable (2/Day). The fire giant rerolls a failed saving throw.
Giant Armor. The fire giant is wearing +1 plate armor that is sized for a huge creature, it is unable to morph its shape for a Large or smaller creature to wear it.
Actions
Multiattack. The fire giant makes three greatsword attacks.
Greatsword. Melee Weapon Attack: +13 to hit, reach 10 ft., one target. Hit: 30 (6d6 + 9) slashing damage.
Rock. Ranged Weapon Attack: +13 to hit, range 60/240 ft., one target. Hit: 31 (4d10 + 9) bludgeoning damage.
Reactions
Parry. The fire giant adds 4 to its AC against one melee attack that would hit it. To do so, the fire giant must see the attacker and be wielding a melee weapon.
</code></pre>
<pre><code>Wight Elite Warrior
Medium undead, neutral evil
Armor Class 16 (studded leather)
Hit Points 78 (12d8 + 24)
Speed 30 ft.
STR DEX CON INT WIS CHA
19 (+4) 17 (+3) 18 (+4) 10 (+0) 15 (+2) 16 (+3)
Saving Throws Wis +5
Skills Perception +5, Stealth +5
Damage Resistances Necrotic; Bludgeoning, Piercing, and Slashing from nomagical attack not made with silvered weapons
Damage Immunities Poison
Condition Immunities Exhaustion, Poisoned
Senses darkvision 60 ft., passive Perception 15
Languages the languages it knew in life
Challenge 5 (1,800 XP)
Indomitable (1/Day). The wight rerolls a failed saving throw.
Sunlight Sensitivity. While in sunlight, the wight has disadvantage on attack rolls, as well as on Wisdom (Perception) checks that rely on sight.
Actions
Multiattack. The wight makes three longsword attacks or three longbow attacks. It can use its Life Drain in place of one longsword attack.
Life Drain. Melee Weapon Attack: +7 to hit, reach 5ft., one creature. Hit: 7 (1d6 + 4) necrotic damage. The target must succeed on a DC 15 Constitution saving throw or its hit point maximum is reduced by an amount equal to the damage taken. This reduction lasts until the target finishes a long rest. The target dies if this effect reduces its hit point maximum to 0.
A humanoid slain by this attack rises 24 hours later as a zombie under the wight's control, unless the humanoid is restored to life or its body is destroyed. The wight can have no more than twelve zombies under its control at one time.
Longsword. Melee Weapon Attack: +7 to hit, reach 5 ft., one target. Hit: 8 (1d8 + 4) slashing damage, or 9 (1d10 + 4) slashing damage if used with two hands.
Longbow. Ranged Weapon Attack: +6 to hit, range 150/600 ft., one target. Hit: 7 (1d8 + 3) piercing damage.
Reactions
Parry. The wight adds 4 to its AC against one melee attack that would hit it. To do so, the wight must see the attacker and be wielding a melee weapon.
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../../js/jquery-3.6.0.min.js"></script>
        <script src="../../../js/bootstrap.min.js"></script>
        <script>
            var base_url = "../../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../../js/base.js"></script>
        <script src="../../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
