# Aasimar
Ability Scores,Average,Race,Aasimar,Fallen,
Ability Scores,Average,Race,Aasimar,Scourge,
Ability Scores,Average,Race,Aasimar,Protector,
# Bugbear tests
Ability Scores,Average,Race,Bugbear,
# Centaur tests
Ability Scores,Average,Race,Centaur,Nature,
# Dragonborn
# Dragonkin
# Dwarves
Ability Scores,Average,Race,Dwarf,Brewer's Supplies,Dark,
Ability Scores,Average,Race,Dwarf,Brewer's Supplies,Hill,
Ability Scores,Average,Race,Dwarf,Brewer's Supplies,Mountain,
Ability Scores,Average,Race,Dwarf,Brewer's Supplies,Warding,
# Elves
Ability Scores,Average,Race,Elf,Bright,CHA,light,
Ability Scores,Average,Race,Elf,Dark,
# Genasi tests
Ability Scores,Average,Race,Genasi,Medium,CHA,CHA,CHA,Air,CHA,
Ability Scores,Average,Race,Genasi,Medium,CHA,CHA,CHA,Earth,CHA,
Ability Scores,Average,Race,Genasi,Medium,CHA,CHA,CHA,Fire,CHA,
Ability Scores,Average,Race,Genasi,Medium,CHA,CHA,CHA,Water,CHA,
# Githyanki tests
Ability Scores,Average,Race,Githyanki,Medicine,
# Githzerai tests
Ability Scores,Average,Race,Githzerai,
# Gnolls
Ability Scores,Average,Race,Gnoll,
# Gnomes
Ability Scores,Average,Race,Gnome,
# Half-Dragons
# Half-Elves
# Half-Ogres
# Half-Orcs
# Halflings
# Hobgoblins
Ability Scores,Average,Race,Hobgoblin,
# Humans
# Kenku
Ability Scores,Average,Race,Kenku,Acrobatics,Stealth,
# Kobolds
Ability Scores,Average,Race,Kobold,STR,STR,STR,Defiance,
Ability Scores,Average,Race,Kobold,STR,STR,STR,Sorcery,
Ability Scores,Average,Race,Kobold,STR,STR,STR,Ferocity,
Ability Scores,Average,Race,Kobold,STR,STR,STR,Craftiness,Arcana,
# Lizardfolk
Ability Scores,Average,Race,Lizardfolk,Nature,Stealth,
# Merfolk
# Mitaurs
Ability Scores,Average,Race,Mitaur,
# Orc
Ability Scores,Average,Race,Orc,
# Reborn
Ability Scores,Average,Race,Reborn,
# Sahuagin
Ability Scores,Average,Race,Sahuagin,
# Siren
Ability Scores,Average,Race,Siren,
# Tabaxi
Ability Scores,Average,Race,Tabaxi,
# Tieflings
Ability Scores,Average,Race,Tiefling,Asmodeus,
Ability Scores,Average,Race,Tiefling,Baalzebul,
Ability Scores,Average,Race,Tiefling,DevilsTongue,
Ability Scores,Average,Race,Tiefling,Dispater,
Ability Scores,Average,Race,Tiefling,Fierna,
Ability Scores,Average,Race,Tiefling,Glasya,
Ability Scores,Average,Race,Tiefling,Levistus,
Ability Scores,Average,Race,Tiefling,Mammon,
Ability Scores,Average,Race,Tiefling,Mephistopheles,
Ability Scores,Average,Race,Tiefling,Winged,
Ability Scores,Average,Race,Tiefling,Zariel,
# Tortle
Ability Scores,Average,Race,Tortle,
# Triton
Ability Scores,Average,Race,Triton,
# YuanTi
Ability Scores,Average,Race,Yuan-Ti,
