# Assassin 3
Rogue,Acrobatics,Athletics,Deception,Insight,Acrobatics,Athletics,Yes,Rogue,Yes,Rogue,Assassin,No

# Divine Agent 3
Rogue,Acrobatics,Athletics,Deception,Insight,Acrobatics,Athletics,Yes,Rogue,Yes,Rogue,Divine Agent,No
