# Assassin 3
Rogue,Acrobatics,Athletics,Deception,Insight,Acrobatics,Athletics,Yes,Rogue,Yes,Rogue,Assassin,No

# Burglar 3
Rogue,Acrobatics,Athletics,Deception,Insight,Acrobatics,Athletics,Yes,Rogue,Yes,Rogue,Burglar,No

# Divine Agent 3
Rogue,Acrobatics,Athletics,Deception,Insight,Acrobatics,Athletics,Yes,Rogue,Yes,Rogue,DivineAgent,No
